﻿/* Стили - border:1px solid #E5E5E5; border:1px solid #C2CBDC; Красный - CC3333; Коричневый - 9F2B04; Синий - 0065CC; Голубой - AAC8D3; Голубой - D0E1E8; */

/* Форма отправки сообщений */	 
	 .pochta-forma         { border:1px solid #C2CBDC; background:#F7F9FF; position:relative; margin:0 auto; margin-top:20px; padding:10px; color:#4D4D4D;}
     .pochta-forma dt     {position:relative; float:left; width:115px; padding-right:5px; margin:0 0 5px 0; text-align:right;}
     .pochta-forma dd    {position:relative; padding-left:120px; margin:0 0 5px 0;}
	 
/* Информационыне сообщения */
     .ecomment_inf{float:right; width:91%; padding:5px 10px; background:#F7F7F7; margin-bottom:10px; color:#8792BF; font-size:15px; line-height:20px; word-spacing:1px; font-family:arial, sans-serif;}
     .ecomment_err{float:right; width:91%; padding:5px 10px; background:#F7F7F7; margin-bottom:10px; color:#8792BF; font-size:15px; line-height:20px; word-spacing:1px; font-family:arial, sans-serif;}