﻿/* Стили - border:1px solid #E5E5E5; border:1px solid #C2CBDC; Красный - CC3333; Коричневый - 9F2B04; Синий - 0065CC; Голубой - AAC8D3; Голубой - D0E1E8; */

/* Пагинация */
     .pagination                   { margin-bottom:10px; text-align:right;}
     .pagination a                { display:inline-block; height:14px; min-width:14px; padding:3px; margin:0 2px; border:1px solid rgba(0,0,0,0); color:#45688E; text-align:center; vertical-align:middle; line-height:14px; text-decoration:none; font-family: arial, sans-serif;}
     .pagination a:hover,
     .pagination a.active  { padding:2px; border-width:2px; color:#994E36;}