.popup-wrapper{
    display:none;
    position:fixed;
    width:100%;
    height:100%;
    left:0;
    top:0;
    background:rgba(0,0,0,0.3);
}
.popup-container{
    position:relative;
    border:3px solid #9ab1dc; border-radius:3px; background:#E9EAEE; width:500px; min-height:200px; padding:20px; top:50%; margin:0 auto; transform:translateY(-50%); box-shadow:0 0 5px rgba(0, 0, 0, 0.3);}
.popup-close              {position:absolute; right:-10px; top:-10px; width:25px; height:25px; line-height:26px; font-family:Arial; font-weight:bold; cursor:pointer; border:3px solid #9ab1dc; background-color:#DFE7E9; border-radius:50%; text-align:center;}
.popup-close:hover  {color:red;}