html,body{ min-height: 100%; }
/* Служебные текстовые классы */
.bold,.strong,.text-bold{ font-weight: bolder; }
.label{ font-weight: normal; font-family: monospace; }

/* Служебные классы */
.buffer-inner{ padding: 20px;}
.buffer-inner-small{ padding: 10px;}

.buffer-top-none{ margin-top: 0;}
.buffer-top-small{ margin-top: 10px;}
.buffer-top{ margin-top: 20px;}
.buffer-top-large{ margin-top: 30px;}

.buffer-right-none{ margin-right: 0;}
.buffer-right-small{ margin-right: 10px;}
.buffer-right{ margin-right: 20px;}
.buffer-right-large{ margin-right: 30px;}

.buffer-bottom-none{ margin-bottom: 0;}
.buffer-bottom-small{ margin-bottom: 10px;}
.buffer-bottom{ margin-bottom: 20px;}
.buffer-bottom-large{ margin-bottom: 30px;}

.buffer-left-none{ margin-left: 0;}
.buffer-left-small{ margin-left: 10px;}
.buffer-left{ margin-left: 20px;}
.buffer-left-large{ margin-left: 30px;}

.width100{ width:100px;}
.width200{ width:200px;}
.width250{ width:250px;}
.width300{ width:300px;}
.width400{ width:400px;}
.width500{ width:500px;}
.width600{ width:600px;}

.text-largest{ font-size:175%;}
.text-large{ font-size:150%;}
.text-larger{ font-size:125%;}
.text-normal{ font-size:100%;}
.text-smaller{ font-size:85%;}
.text-small{ font-size:60%;}
.text-smallest{ font-size:45%;}

/* dropdown menu */
.dropdown:hover .dropdown-menu{ display: block; }

/* CONTENT */
.content{
    padding-top: 70px;
}
.admin-header{
    margin: 0;
    background-color: #F8F8F8;
    border: 1px solid #E7E7E7;
    padding: 5px 20px;
    position: relative;
}
.admin-header.left::before,
.admin-header.right::before{
    content:'';
    display: inline-block;
    background-color: #FFF;
    border: 0 solid #E7E7E7;
    border-radius: 10px;
    height: 20px;
    width: 20px;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
}
.admin-header.left::before{
    border-right-width: 2px;
    left:-10px;
}
.admin-header.right::before{
    border-left-width: 2px;
    right:-10px;
}